
* h1 h2 h3 {
    margin: 0%;
}
body {
    margin-left: 27%;
    margin-right: 7%;
    background-color: rgb(49, 77, 49);
    background:  linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .2)), url(img/BG/6.jpg);

}
#header {
    box-shadow: 8px 8px 15px black;
    background: url(img/BG/10.png);
    color: white;
    border: solid rgb(37, 54, 34);
    margin-bottom: 3%;
    padding: 1%;
    text-align: left;
    height: 180px;
}
.logo {
    float: left;
    width: 60%;
    height: 100%;
}


#auth-form {
    float: right;
    width: 20%;
    max-height: 100%;
    background: black;
    padding: 10px;
}
.auth-button {

}

#header h1 {
    font-family: "Carol Gothic";
}
#me {
    position: relative;
    right: 70%;
    display: block;
}
#me img {
    filter: drop-shadow(15px 15px 15px #153f04);
    width: 400px;
    height: auto;
}
#me p {
    font-family: "Comic Sans MS";
    font-size: 300%;
    text-align: center;
    -webkit-text-stroke: 3px black;
    color: white;
}

h1 {
    font-family: "Emblema One", garamond;
    font-size: 220%;
}

h2 {
    font-family: "Emblema One", garamond;
    font-weight: bold;
    font-size: 150%;
}
.stamps-bar {
    width: 65%;
    float: right;

    padding: 10px;
    margin-bottom: 30px;

    box-shadow: 8px 8px 15px black;
    background: url(img/BG/5.jpg);
    border: solid rgb(37, 54, 34);
}
.side-bar {
    width: 25%;
    float: left;
    margin-bottom: 3%;
    padding: 1%;
}
.side-bar div {
    text-align: center;
    color: rgb(247, 247, 247);
    box-shadow: 8px 8px 15px black;
    background: url(img/BG/8.jpg) center;
    background-color: rgb(75, 99, 64);
    border: solid rgb(37, 54, 34);
    padding: 10px;
    margin-bottom: 30px;
}
.side-bar .buttons-bar {
    text-align: end;
}
.side-bar button {
    font-family: "Comic Sans MS";
    width: 99%;
    height: 50px;
    background: url("img/cassets-side/1.png") no-repeat;
    font-size: 105%;
    font-style: bold;
    background-size: 100% 50px;
}
.libreFM img
{
    width: 100%;
}

.userpic {
    box-shadow: 8px 8px 15px black;
    width: 100px;
    height: 100px;
    background: url(img/joan.png) center;
    float: inline-start;
    margin-right: 30px;
}
.main-window {
    box-shadow: 8px 8px 15px black;
    background: url(img/BG/2-1.jpg);
    background-color: rgb(75, 99, 64);
    border: solid rgb(37, 54, 34);
    width: 65%;
    height: 800px;
    overflow-y: scroll;
    float: right;
    padding: 10px;
    margin-bottom: 3%;
}
.main-window h1 {
    text-align: center;
}
.main-window-footer {
    width: 100%;
    float: left;
    text-align: center;
}


.bingos img {
    width: 32%;

}

.all-films-box {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.film-box {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    background: url(img/BG/10.jpg);
    background-size: 150%;
}
.film-box-text {
    margin: 5px;
    width: 50%;
}
.film-box img {
    margin: 5px;
    width: 150px;
    height: 226px;
}
.cassete-title {
    padding: 0px;
    margin: 5px;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    background: url(img/cassets-side/1.png) ;
    background-size: 100% 100%;

    display: flex;
    
}
.cassete-title h3 {
    margin-left: 27%;
    margin-top: 4px;
    padding: 0px;
    margin-right: 15%;
}



.BADGE {
    width: 88px;
    height: 31px;
    filter: drop-shadow(15px 15px 15px #000000);
}
.STAMP {
    width: 99px;
    height: 56px;

}
.footer {
    box-shadow: 8px 8px 15px black;
    background: url(img/BG/2-1.jpg);
    background-color: rgb(75, 99, 64);
    border: solid rgb(37, 54, 34);
    width: 100%;
    float: left;
    text-align: center;
}
.footer a {
    color: rgb(26, 105, 2);
}
