
body {
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(49, 77, 49);
}
#header {
    background-color: rgb(75, 99, 64);
    border: solid rgb(37, 54, 34); 
    margin-bottom: 5%;
    padding: 1%;
}

h1, h2 {

}

h1 {
    font-family: "Emblema One", garamond;
    font-size: 220%;
}

h2 {
    font-family: "Emblema One", garamond;
    font-weight: bold;
    font-size: 150%;
}

.interact {
    background-color: rgb(75, 99, 64);
    border: solid rgb(37, 54, 34); 
    width: 15%;
    float: left;
    
    padding: 1%;
}
.main {
    background-color: rgb(75, 99, 64);
    border: solid rgb(37, 54, 34); 
    width: 75%;
    float: right;
    padding: 1%;
}


.lastFM {

}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(44, 71, 45);
    color: white;
}
