<!doctype html>

<html lang="ru">
    
    <head>
        <title>{{ the_title }}</title>
        <link rel="stylesheet" href="static/auth.css" />

    </head>
    <div id="header">
        <div class="logo">
            <form method='POST' action='/home'>
                <button type="submit" class="userpic">BACK</button>
                <h1>ObscureLand</h1>
            </form>
        </div>
    </div>
    <body>
        <div class="main-window">

            <h1><p>Authorization</p></h1>
            <div class="main-window-footer">
                <address>
                    <a href="https://github.com/ObscureObscure">My GitHub</a>
                    <a href="https://libre.fm/user/Gentle_Horse">My LibreFM</a>
                    <a href="https://www.pinterest.com/jewspirit/">My Pinterest</a>
                </address>
                <p>may 2025 - forever. JewSpirit</p>
            </div>
        </div>
    </body>





</html>