<!doctype html>

<html lang="ru">
    <head>
        <title>{{ the_title }}</title>
        <link rel="stylesheet" href="static/hf.css" />

    </head>
    <div id="header">
        <form method='POST' action='/home'>
            <button type="submit" class="userpic"></button>
            <h1>Мой вебсайт</h1>
            <h2>JewSpirit    |   Gentle_Horse   |   Andrey Obscvre  |   LCR(localChurchRealtor)</h2>
        </form>
    </div>
    <body>
        <div class="side-bar">
            <marquee behavior=alternate>click click click click click click click click click click click click click click click!</marquee>
            <form method='POST' action='/home'>
                <p><button type="submit">/HOME</button></p>
            </form>
            <form method='POST' action='/pins'>
                <p><button type="submit">МОИ ПИНЫ</button></p>
            </form>
            <form method="POST" action="/films">
                <p><button type="submit">ФИЛЬМЫ</button></p>
            </form>
            <form method='POST' action='/books'>
                <p><button type="submit">КНИГИ</button></p>
            </form>
        </div>

        {% block body %}

        {% endblock %}
        <p></p>
        <div class="footer">
            <footer>
                <map name="win7widget">
                    <area href="https://baccyflap.com/noai" target="_blank" shape="rect" coords="0,0,446,28" alt="no ai webring" title="no ai webring">
                    <area href="https://baccyflap.com/noai/?prv&s=sos" target="_top" shape="rect" coords="94,55,191,80" alt="previous" title="previous">
                    <area href="https://baccyflap.com/noai/?rnd" target="_top" shape="rect" coords="206,55,303,80" alt="random" title="random">
                    <area href="https://baccyflap.com/noai/?nxt&s=sos" target="_top" shape="rect" coords="318,55,415,80" alt="next" title="next">
                </map>
                <img usemap="#win7widget" src="https://baccyflap.com/noai/win7widget.gif" alt="a Windows 7 style dialog box titled 'The No AI Webring'">
                <address>
                    <a href="https://github.com/ObscureObscure">My GitHub</a>
                    <a href="https://libre.fm/user/Gentle_Horse">My LibreFM</a>
                    <a href="https://www.pinterest.com/jewspirit/">My Pinterest</a>
                </address>
                <p>may 2025 - forever. JewSpirit</p>
            </footer>
        </div>
    </body>





</html>