{% extends 'base.html' %}
{% block body %}

	<form method="POST" action="/home"> 
		<button type="submit">НАЗАД</button>
	</form>

	<marquee behavior=alternate>~~~don't stay too long, asshole~~~</marquee>

	<p>
		<h2>Книги</h2>
		<h3><i>Роман о Тристане и Изольде Жозеф Бедье</i></h3>
		<h3><i>Степной Волк Германн Гессе</i></h3>
		<h3><i>Сиддхартха Германн Гессе</i></h3>
		<h3><i>Петер Каменцинд Германн Гессе</i></h3>
		<h3><i>Преступление и Наказание Федор Достоевский</i></h3>
		<h3><i>На западном фронте без перемен Эрих Мария Ремарк</i></h3>
		<h3><i>Золотой Храм Юкио Мисима</i></h3>
		<h3><i>Глас Господа Станислав Лем</i></h3>
		<h3><i>Парфюмер Патрик Зюскинд</i></h3>
		<h3><i>Над Кукушкиным Гнездом Кен Кизи</i></h3>
		<h3><i>Портрет Дориана Грея Оскар Уайлд</i></h3>
		<h3><i>Собор Парижской Богоматери Виктор Гюго</i></h3>
	</p>

	
{% endblock %}