{% extends 'base.html' %}
{% block body %}

	<div class="main-window">
		<h1 class="main-title">{{ the_title }}</h1>

		
		<marquee behavior=alternate>~~~don't stay too long, asshole~~~</marquee>

		<div><ul>
			{% for film in links %} 
				<div class="film-box">
					<a href={{ film[1] }}><img src={{ film[2] }}></a>
					<div class="cassete-title">
						<h2>{{ film[3] }}</h2>
					</div>
				</div>
			{% endfor %}	
		</ul></div>


		<div class="main-window-footer">
			<p>thanks to </p>
			<a href="https://en.wikipedia.org/wiki/Main_Page"><img class="BADGE" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/A_Wikimedia_project.svg/132px-A_Wikimedia_project.svg.png"></a>
		</div>
	</div>


{% endblock %}