{% extends 'base.html' %}
{% block body %}

	<div class="main">
		<h1>{{ the_title }}</h1>
		<marquee behavior=alternate>~~~don't stay too long, asshole~~~</marquee>
		<h2>Фильмы</h2>
		<h3><i>Амели </i></h3>
		<h3><i>Франкенвинни </i></h3>
		<h3><i>Эдвард Руки-Ножницы </i></h3>
		<h3><i>Silent Hill (2006) </i></h3>
		<h3><i>Битлджус </i></h3>
		<h3><i>Бог большой, я маленькая </i></h3>
		<h3><i>Долгая помолвка </i></h3>
		<h3><i>Колдовство </i></h3>
		<h3><i>Рататуй </i></h3>
		<h3><i>Реквием по мечте </i></h3>
		<h3><i>Труп невесты </i></h3>
		<h3><i>Счастливое стечение обстоятельств </i></h3>
		<h3><i>Лестница в небо </i></h3>
		<h3><i>Леонардо Да Винчи </i></h3>
		<h3><i>Страсти Жанны д'Арк</i></h3>
		<h3><i>Мученицы 2008</i></h3>
	</div>
	
{% endblock %}