{% extends 'base.html' %}
{% block body %}

	<h2>{{ the_title }}</h2>
	<marquee behavior=alternate>~~~don't stay too long, asshole~~~</marquee>

		<h1>website after my stuff</h1>
	<p>
		<h2>films?</h2>
		<h3><i>Amelie or smthng.. </i></h3>
		
	</p>	
	
	<p>
		<h2>Books</h2>
		<h3><i>Der Steppenwolf hihihi Hermann Hesse</i></h3>
	</p>

	<p>
		<input value='Other!' type='SUBMIT'>
		button
	</p>
	<p>
		<tr><td>say now or never:</td><td><input name='letters' type='TEXT'  
		value='sample text'></td></tr> 
	</p>


{% endblock %}