{% extends 'base.html' %}
{% block body %}

	<h1>{{ the_title }}</h1>


	<form method='POST' action='/code_result'>
		<p><button type="submit">МОИ ПИНЫ</button></p> 	
	</form>
	<form method="POST" action="/films">
		<p><button type="submit">ФИЛЬМЫ</button></p>
	</form>

	<form method='POST' action='/code_result'>
		<p><button type="submit">pass</button></p>
		<input style="margin-bottom: 10px;" name="input_secret_code" type="date" value="01.01.2007">	
			
	</form>

	<h2>Страничка посвящается интересной ерунде</h2>
	<marquee behavior=alternate>~~~don't stay too long, asshole~~~</marquee>

	<h2>Недавно я слушал:</h2>
	<a href="https://libre.fm/user/Gentle_Horse/scrobble/1747660949"><img src="https://libre.fm/user/Gentle_Horse/scrobble/1747660949/image" width="480" height="90" alt="Gentle_Horse listened to You're Standing on My Neck (OST Daria) by Splendora (Splendora)"></a>
{% endblock %}