{% extends 'base.html' %}
{% block body %}



	<div class="main">
		<marquee behavior=alternate>~~~don't stay too long, asshole~~~</marquee>
		<h2>Страничка посвящается интересной ерунде</h2>

		<h2>Недавно я слушал:</h2>
			<a href="https://libre.fm/user/Gentle_Horse/scrobble/1747751856"><img src="https://libre.fm/user/Gentle_Horse/scrobble/1747751856/image" width="320" height="60" alt="Gentle_Horse listened to Your Witness by Seppuku Paradigm (Мои треки)"></a>
			<a href="https://libre.fm/user/Gentle_Horse/scrobble/1747752343"><img src="https://libre.fm/user/Gentle_Horse/scrobble/1747752343/image" width="320" height="60" alt="Gentle_Horse listened to Twilight by Bôa (Мои треки)"></a>
			<a href="https://libre.fm/user/Gentle_Horse/scrobble/1747751511"><img src="https://libre.fm/user/Gentle_Horse/scrobble/1747751511/image" width="320" height="60" alt="Gentle_Horse listened to Please Please Please Let Me Get What I Want by Deftones (Мои треки)"></a>
		</div>
	</div>

{% endblock %}