{% extends 'base.html' %}
{% block body %}



	<div class="main-window">
		<h1 class="main-title">{{ the_title }}</h1>
		<marquee behavior=alternate>~~~don't stay too long, asshole~~~</marquee>
		<h2>Страничка посвящается интересной ерунде</h2>
		<p>Этот сайт создан для того, что бы хранить и собирать то, что мне в этом мире нравится, а еще он для меня как маленький арт-проект.
		Пока я делаю этот сайт я практикуюсь в разработке веб приложений.
		Тут вы можете найти ссылки на мои социальные сети</p>

	</div>
	<div class="libreFM">
		<h2>Недавно я слушал:</h2>
		<a href="https://libre.fm/user/Gentle_Horse/scrobble/1747751856"><img src="https://libre.fm/user/Gentle_Horse/scrobble/1747751856/image" alt="Gentle_Horse listened to Your Witness by Seppuku Paradigm (Мои треки)"></a>
		<a href="https://libre.fm/user/Gentle_Horse/scrobble/1747752343"><img src="https://libre.fm/user/Gentle_Horse/scrobble/1747752343/image" alt="Gentle_Horse listened to Twilight by Bôa (Мои треки)"></a>
		<a href="https://libre.fm/user/Gentle_Horse/scrobble/1747751511"><img src="https://libre.fm/user/Gentle_Horse/scrobble/1747751511/image" alt="Gentle_Horse listened to Please Please Please Let Me Get What I Want by Deftones (Мои треки)"></a>
	</div>

{% endblock %}